* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 100px 156px;
  width: 100%;
}

.gallery li {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 20px) / 3);
}

/* li:not(:last) */

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}