* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  padding: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

.item {
    padding: 16px;
    border-radius: 8px;
    /* gap: 24px; */
    background-color: #F6F6FE;
}

.item:not(:last-child) {
    margin-bottom: 24px;
}

h2 {
font-weight: 600;
font-style: normal;
font-size: 24px;
line-height: 0.75;
letter-spacing: 0.96px;
color: #2E2F42;
}

li {
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-weight: 400;
/* font-style: regular; */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.96px;
}

li:not(:last-child) {
    margin-bottom: 8px;
}
